{% extends 'base.html.twig' %}

{% block title %}Gestion vehicule{% endblock %}
{% block slider '' %}
{% block body %}
    <div class="container" style="margin-top: 80px;">
        <div class="col-md-3 mt-4">
            <h3>Gestion Vehicule</h3>
            <div class="progress mb-4">
                <div class="progress-bar bg-primary" role="progressbar" style="width: 100%" aria-valuenow="50"
                     aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
    </div>
{% endblock %}
