<h2 style="color: black;"><strong>Frêt Online</strong> N°1 site de bourse</h2>

Bienvenu(e) {{ name }} sur le premier site de bourse de frêt au Sénégal !<br>Nous sommes heureux de vous accueillir parmi nos membres.
<br>

Votre login est : {{ login }}<br>

Merci ! <br>

<a href="http://localhost:8000">Frêt Online.sn</a>