<h2 style="color: black;"><strong>Frêt Online</strong> N°1 site de bourse</h2>

Bonjour {{ name }} Veuillez cliquer sur ce lien pour reinitialiser votre mot de passe !<br>
<br>
<a href="http://localhost:8000/change_password/token={{ token }}">lien de reinitialisation</a>

Merci ! <br>

<a href="http://localhost:8000">Frêt Online.sn</a>