{% extends 'base.html.twig' %}

{% block slider '' %}
{% block body %}
    {% include 'default/head6.html.twig' %}
    <div style="padding-top:25px;"> </div>
    <div class="container">
        <div class="row">
            <div class="col-md-2 mt-4">
                <h3>Mon espace</h3>
                <div class="progress mb-1">
                    <div class="progress-bar bg-primary" role="progressbar" style="width: 100%" aria-valuenow="50"
                         aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="jumbotron col-md-12">
        <div class="row">
            <div class="card col-md-3">
                <div class="card-body">
                    <div class="media">
                        <img class="card-img" width="300px" height="200px;" src="/build/img/12.jpg" alt="">
                    </div>
                    <div class="card-text">
                        <hr>
                        <h3><strong>Bio</strong></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vel gravida metus, non
                            ultrices sapien. Morbi odio metus, dapibus non nibh id amet.</p>
                        <hr>
                        <h3><strong>Location</strong></h3>
                        <p>Earth</p>
                        <hr>
                        <h3><strong>Gender</strong></h3>
                        <p>Unknown</p>
                        <hr>
                        <h3><strong>Birthday</strong></h3>
                        <p>January 01 1901</p>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="card">
                    <div class="card-body">
                     <span>
                        <h1 class="card-title pull-left" style="font-size:30px;">John Doe <small>example@pods.tld</small> <i
                                    class="fa fa-check text-success" aria-hidden="true" data-toggle="tooltip"
                                    data-placement="bottom" title="John Doe is sharing with you"></i></h1>

                    </span>
                        <br><br>
                        <br><br>
                        <hr>
                        <span class="pull-left">
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="info-tab" data-toggle="tab" href="#info" role="tab"
                                       aria-controls="info" aria-selected="true"><i
                                                class="fa fa-user"></i> Mes Infos</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="camion-tab" data-toggle="tab" href="#camion" role="tab"
                                       aria-controls="profile" aria-selected="false"><i class="fa fa-truck"></i> Gestion Camion</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                                       aria-controls="profile" aria-selected="false"><i class="fa fa-files-o"></i> Post</a>
                                </li>
                            </ul>
                        </span>
                        <span class="pull-right">
                        <a href="#" class="btn btn-link" style="text-decoration:none;"><i class="fa fa-lg fa-at"
                                                                                          aria-hidden="true"
                                                                                          data-toggle="tooltip"
                                                                                          data-placement="bottom"
                                                                                          title="Mention"></i></a>
                        <a href="#" class="btn btn-link" style="text-decoration:none;"><i class="fa fa-lg fa-envelope-o"
                                                                                          aria-hidden="true"
                                                                                          data-toggle="tooltip"
                                                                                          data-placement="bottom"
                                                                                          title="Message"></i></a>
                        <a href="#" class="btn btn-link" style="text-decoration:none;"><i class="fa fa-lg fa-ban"
                                                                                          aria-hidden="true"
                                                                                          data-toggle="tooltip"
                                                                                          data-placement="bottom"
                                                                                          title="Ignore"></i></a>
                    </span>
                    </div>
                </div>
                <div class="card tab-content profile-tab mt-5" id="myTabContent">
                    <div class="tab-pane fade show active mt-2 mb-2 ml-2 mr-2" id="info" role="tabpanel"
                         aria-labelledby="info-tab">
                        <div class="card float-left mt-1 mb-1 col-md-6">
                            <div class="card-body">
                                <h3 class="font-weight-bold">Mes infos</h3>
                                <div class="row mt-3">
                                    <div class="col-md-3"><label for="">Nom : </label></div>
                                    <div class="col-md-3"><p>YARA</p></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3"><label for="">Nom : </label></div>
                                    <div class="col-md-3"><p>YARA</p></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3"><label for="">Nom : </label></div>
                                    <div class="col-md-3"><p>YARA</p></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3"><label for="">Nom : </label></div>
                                    <div class="col-md-3"><p>YARA</p></div>
                                </div>
                            </div>
                        </div>
                        <div class="card float-right mt-1 mb-1 col-md-6">
                            <div class="card-body">
                                <h3><u>Mes informations</u></h3>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade mt-2 mb-2 ml-2 mr-2" id="camion" role="tabpanel"
                         aria-labelledby="camion-tab">
                        <div class="pull-left">
                            <a href="#">
                                <img class="media-object img-circle" src="/build/img/13.jpg" width="50px"
                                     height="50px" style="margin-right:8px; margin-top:-5px;">
                            </a>
                        </div>
                        <h4><a href="#" style="text-decoration:none;"><strong>John Doe</strong></a> –
                            <small>
                                <small><a href="#" style="text-decoration:none; color:grey;"><i><i
                                                    class="fa fa-clock-o" aria-hidden="true"></i> 42 minutes ago</i></a>
                                </small>
                            </small>
                        </h4>
                        <span>
                        <div class="navbar-right">
                            <div class="dropdown">
                                <button class="btn btn-link btn-xs dropdown-toggle" type="button" id="dd1"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <i class="fa fa-cog" aria-hidden="true"></i>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dd1" style="float: right;">
                                    <li><a href="#"><i class="fa fa-fw fa-exclamation-triangle" aria-hidden="true"></i> Report</a></li>
                                    <li><a href="#"><i class="fa fa-fw fa-ban" aria-hidden="true"></i> Ignore</a></li>
                                    <li><a href="#"><i class="fa fa-fw fa-bell" aria-hidden="true"></i> Enable notifications for this post</a></li>
                                    <li><a href="#"><i class="fa fa-fw fa-eye-slash"
                                                       aria-hidden="true"></i> Hide</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#"><i class="fa fa-fw fa-trash" aria-hidden="true"></i> Delete</a></li>
                                </ul>
                            </div>
                        </div>
                    </span>
                        <hr>
                        <div class="post-content">
                            <p>Simple post content example.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vel gravida
                                metus, non ultrices sapien. Morbi odio metus, dapibus non nibh id amet.</p>
                        </div>
                        <hr>
                        <div>
                            <div class="pull-right btn-group-xs">
                                <a class="btn btn-default btn-xs"><i class="fa fa-heart" aria-hidden="true"></i>
                                    Like</a>
                                <a class="btn btn-default btn-xs"><i class="fa fa-retweet"
                                                                     aria-hidden="true"></i> Reshare</a>
                                <a class="btn btn-default btn-xs"><i class="fa fa-comment"
                                                                     aria-hidden="true"></i> Comment</a>
                            </div>
                            <div class="pull-left">
                                <p class="text-muted" style="margin-left:5px;"><i class="fa fa-globe"
                                                                                  aria-hidden="true"></i> Public
                                </p>
                            </div>
                            <br>
                        </div>
                        <hr>
                        <div class="media">
                            <div class="pull-left">
                                <a href="#">
                                    <img class="media-object img-circle" src="/build/img/14.jpg" width="35px"
                                         height="35px" style="margin-left:3px; margin-right:-5px;">
                                </a>
                            </div>
                            <div class="media-body">
                                <textarea class="form-control" rows="1" placeholder="Comment"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}